In [44]:
from sqlalchemy import (
    Table, Column, Integer, String, Date, Time, Enum, ForeignKey, MetaData, create_engine
)
from sqlalchemy.orm import registry, relationship
from sqlalchemy.dialects.postgresql import ENUM

# ----------------------------
# Initialize MetaData & Registry
# ----------------------------
metadata = MetaData()
mapper_registry = registry(metadata=metadata)

# ----------------------------
# ENUM for PostgreSQL
# ----------------------------
result_enum = ENUM('Victoire', 'DÃ©faite', 'Nul', name='result_enum')

# ----------------------------
# Table Definitions
# ----------------------------

competition_table = Table(
    'competition', metadata,
    Column('idcompetition', Integer, primary_key=True),
    Column('nomcompetition', String(100), nullable=False)
)

saison_table = Table(
    'saison', metadata,
    Column('id_saison', Integer, primary_key=True),
    Column('annee', String, nullable=False)
)

equipe_table = Table(
    'equipe', metadata,
    Column('idequipe', Integer, primary_key=True),
    Column('nomequipe', String(100), nullable=False),

)

joueur_table = Table(
    'joueur', metadata,
    Column('idjoueur', Integer, primary_key=True),
    Column('nomjoueur', String(100), nullable=False),
    Column('position', String(50)),
    Column('nationalite', String(50)),
    Column('id_equipe', Integer, ForeignKey('equipe.idequipe'))
)

match_table = Table(
    'match', metadata,
    Column('idmatch_', Integer, primary_key=True),
    Column('date_match', Date, nullable=False),
    Column('heure', Time, nullable=False),
    Column('round', String(50)),
    Column('venue', String(100)),
    Column('idteamhome', Integer, ForeignKey('equipe.idequipe')),
    Column('idteamaway', Integer, ForeignKey('equipe.idequipe')),
    Column('id_competition', Integer, ForeignKey('competition.idcompetition')),
    Column('id_saison', Integer, ForeignKey('saison.id_saison'))
)

resultatmatch_table = Table(
    'resultatmatch', metadata,
    Column('idresultat', Integer, primary_key=True),
    Column('idmatch', Integer, ForeignKey('match.idmatch_')),
    Column('idequipe', Integer, ForeignKey('equipe.idequipe')),
    Column('butsmarques', Integer, nullable=False, default=0),
    Column('butsconcedes', Integer, nullable=False, default=0),
    Column('resultat', result_enum, nullable=False)
)

statistiquejoueur_table = Table(
    'statistiquejoueur', metadata,
    Column('idstats', Integer, primary_key=True),
    Column('idjoueur', Integer, ForeignKey('joueur.idjoueur')),
    Column('buts', Integer, default=0),
    Column('passesdecisives', Integer, default=0),
    Column('nbmatchesplayed', Integer, default=0),
    Column('cartonsjaunes', Integer, default=0),
    Column('cartonsrouges', Integer, default=0)
)

# ----------------------------
# Class Definitions
# ----------------------------

class Competition:
    def __init__(self, nomcompetition):
        self.nomcompetition = nomcompetition

class Saison:
    def __init__(self, annee):
        self.annee = annee

class Equipe:
    def __init__(self, nomequipe):
        self.nomequipe = nomequipe

class Joueur:
    def __init__(self, nomjoueur, position=None, nationalite=None):
        self.nomjoueur = nomjoueur
        self.position = position
        self.nationalite = nationalite

class Match:
    def __init__(self, date_match, heure, round=None, venue=None):
        self.date_match = date_match
        self.heure = heure
        self.round = round
        self.venue = venue

class ResultatMatch:
    def __init__(self, butsmarques=0, butsconcedes=0, resultat=None):
        self.butsmarques = butsmarques
        self.butsconcedes = butsconcedes
        self.resultat = resultat

class StatistiqueJoueur:
    def __init__(self, buts=0, passesdecisives=0, nbmatchesplayed=0, cartonsjaunes=0, cartonsrouges=0):
        self.buts = buts
        self.passesdecisives = passesdecisives
        self.nbmatchesplayed = nbmatchesplayed
        self.cartonsjaunes = cartonsjaunes
        self.cartonsrouges = cartonsrouges

# ----------------------------
# ORM Mappers (Relationships)
# ----------------------------

mapper_registry.map_imperatively(Competition, competition_table, properties={
    'equipes': relationship('Equipe', back_populates='competition'),
    'matchs': relationship('Match', back_populates='competition')
})

mapper_registry.map_imperatively(Saison, saison_table, properties={
    'equipes': relationship('Equipe', back_populates='saison'),
    'matchs': relationship('Match', back_populates='saison')
})

mapper_registry.map_imperatively(Equipe, equipe_table, properties={
    'competition': relationship('Competition', back_populates='equipes'),
    'saison': relationship('Saison', back_populates='equipes'),
    'joueurs': relationship('Joueur', back_populates='equipe'),
    'matchs_home': relationship('Match', back_populates='team_home', foreign_keys=[match_table.c.idteamhome]),
    'matchs_away': relationship('Match', back_populates='team_away', foreign_keys=[match_table.c.idteamaway]),
    'resultats': relationship('ResultatMatch', back_populates='equipe')
})

mapper_registry.map_imperatively(Joueur, joueur_table, properties={
    'equipe': relationship('Equipe', back_populates='joueurs'),
    'stats': relationship('StatistiqueJoueur', back_populates='joueur', uselist=False)
})

mapper_registry.map_imperatively(Match, match_table, properties={
    'team_home': relationship('Equipe', foreign_keys=[match_table.c.idteamhome], back_populates='matchs_home'),
    'team_away': relationship('Equipe', foreign_keys=[match_table.c.idteamaway], back_populates='matchs_away'),
    'competition': relationship('Competition', back_populates='matchs'),
    'saison': relationship('Saison', back_populates='matchs'),
    'resultats': relationship('ResultatMatch', back_populates='match')
})

mapper_registry.map_imperatively(ResultatMatch, resultatmatch_table, properties={
    'match': relationship('Match', back_populates='resultats'),
    'equipe': relationship('Equipe', back_populates='resultats')
})

mapper_registry.map_imperatively(StatistiqueJoueur, statistiquejoueur_table, properties={
    'joueur': relationship('Joueur', back_populates='stats')
})

# ----------------------------
# Engine & Create Tables
# ----------------------------

if __name__ == "__main__":
    engine = create_engine('postgresql://postgres:12345@localhost:9999/englandFootBall')
    print('ddd')
    metadata.create_all(engine)

ddd

Insertion des competition

In [45]:
import  pandas as pd
df = pd.read_csv('data.csv')
competitions = df['Comp'].unique()

In [46]:
for c in competitions:
    row = {'nomcompetition':c}
    with engine.begin() as connection:
        insert_query = competition_table.insert().values(row)
        connection.execute(insert_query)

In [47]:
row = {'annee':'2024-2025'}
with engine.begin() as connection:
        insert_query = saison_table.insert().values(row)
        connection.execute(insert_query)

In [48]:
# row = {'nomequipe': data }
teams= df['Team'].unique()
teams

array(['Liverpool', 'Manchester City', 'Aston Villa', 'Arsenal',
       'Chelsea', 'Tottenham', 'Manchester Utd', 'Newcastle Utd',
       'Brentford', 'Fulham', 'Leicester City', 'Everton', 'Wolves',
       'Ipswich Town', 'Southampton', 'Brighton', "Nott'ham Forest",
       'Crystal Palace', 'West Ham', 'Bournemouth'], dtype=object)

In [49]:
opponent= df['Opponent'].unique()
opponent

array(['Girona', 'Feyenoord', 'Juventus', 'Paris S-G', 'Club Brugge',
       'Real Madrid', 'PSV Eindhoven', 'Celtic', 'Leverkusen', 'Atalanta',
       'Monaco', 'Dinamo Zagreb', 'Shakhtar', 'Milan', 'Inter', 'Bologna',
       'Sporting CP', 'Lille', 'RB Leipzig', 'Young Boys',
       'Bayern Munich', 'Sparta Prague', 'Slovan Bratislava',
       'Servette FC', 'DjurgÃ¥rden', 'Astana FK', 'Gent',
       'Shamrock Rovers', 'Betis', 'Panathinaikos', 'FC Noah',
       'Legia Warsaw', 'Heidenheim', 'FC Copenhagen', 'Coventry City',
       'Newcastle Utd', 'Crystal Palace', 'Wycombe', 'Barnsley',
       'West Ham', 'Manchester City', 'Brentford', 'Manchester Utd',
       'Liverpool', 'Leyton Orient', 'Preston', 'Watford',
       'Tranmere Rovers', 'Sheffield Weds', 'Southampton', 'Burnley',
       'AFC Wimbledon', 'Walsall', 'Stoke City', 'Wolves',
       'Birmingham City', 'Crawley Town', 'Norwich City',
       'Colchester Utd', 'Doncaster', 'Leicester City', 'Chelsea',
       'Bolton', 'Barrow', 'Arsenal', 'Tottenham', 'Bournemouth',
       'Cardiff City', 'QPR', 'Lyon', 'Real Sociedad', 'Athletic Club',
       'FCSB', 'Rangers', 'BodÃ¸/Glimt', 'Eint Frankfurt', 'FerencvÃ¡ros',
       'Porto', 'Twente', 'AZ Alkmaar', 'Galatasaray', 'PAOK',
       'Viktoria PlzeÅ', 'Hoffenheim', 'Roma', 'QarabaÄ', 'FenerbahÃ§e',
       'Elfsborg', 'Plymouth Argyle', 'Salford City', 'Tamworth',
       'Blackburn', 'Bristol Rovers', 'Bristol City', "Acc'ton Stanley",
       'Bromley', 'West Brom', 'Aston Villa', 'Ipswich Town',
       'Wigan Athletic', 'Exeter City', 'Luton Town', 'Brighton',
       'Morecambe', "P'borough Utd", 'Stockport', "Nott'ham Forest",
       'Swansea City', 'Fulham', 'Millwall', 'Everton'], dtype=object)

In [50]:

for op in opponent:
    row = {'nomequipe':op}
    with engine.begin() as connection:
        insert_query = equipe_table.insert().values(row)
        connection.execute(insert_query)

In [51]:
opponent

array(['Girona', 'Feyenoord', 'Juventus', 'Paris S-G', 'Club Brugge',
       'Real Madrid', 'PSV Eindhoven', 'Celtic', 'Leverkusen', 'Atalanta',
       'Monaco', 'Dinamo Zagreb', 'Shakhtar', 'Milan', 'Inter', 'Bologna',
       'Sporting CP', 'Lille', 'RB Leipzig', 'Young Boys',
       'Bayern Munich', 'Sparta Prague', 'Slovan Bratislava',
       'Servette FC', 'DjurgÃ¥rden', 'Astana FK', 'Gent',
       'Shamrock Rovers', 'Betis', 'Panathinaikos', 'FC Noah',
       'Legia Warsaw', 'Heidenheim', 'FC Copenhagen', 'Coventry City',
       'Newcastle Utd', 'Crystal Palace', 'Wycombe', 'Barnsley',
       'West Ham', 'Manchester City', 'Brentford', 'Manchester Utd',
       'Liverpool', 'Leyton Orient', 'Preston', 'Watford',
       'Tranmere Rovers', 'Sheffield Weds', 'Southampton', 'Burnley',
       'AFC Wimbledon', 'Walsall', 'Stoke City', 'Wolves',
       'Birmingham City', 'Crawley Town', 'Norwich City',
       'Colchester Utd', 'Doncaster', 'Leicester City', 'Chelsea',
       'Bolton', 'Barrow', 'Arsenal', 'Tottenham', 'Bournemouth',
       'Cardiff City', 'QPR', 'Lyon', 'Real Sociedad', 'Athletic Club',
       'FCSB', 'Rangers', 'BodÃ¸/Glimt', 'Eint Frankfurt', 'FerencvÃ¡ros',
       'Porto', 'Twente', 'AZ Alkmaar', 'Galatasaray', 'PAOK',
       'Viktoria PlzeÅ', 'Hoffenheim', 'Roma', 'QarabaÄ', 'FenerbahÃ§e',
       'Elfsborg', 'Plymouth Argyle', 'Salford City', 'Tamworth',
       'Blackburn', 'Bristol Rovers', 'Bristol City', "Acc'ton Stanley",
       'Bromley', 'West Brom', 'Aston Villa', 'Ipswich Town',
       'Wigan Athletic', 'Exeter City', 'Luton Town', 'Brighton',
       'Morecambe', "P'borough Utd", 'Stockport', "Nott'ham Forest",
       'Swansea City', 'Fulham', 'Millwall', 'Everton'], dtype=object)

In [52]:
df.values

array([['2024-12-10', '18:45', 'Champions Lg', ..., '4-3-3', '4-2-3-1',
        'Liverpool'],
       ['2024-11-26', '20:00', 'Champions Lg', ..., '4-2-3-1', '4-3-3',
        'Manchester City'],
       ['2024-12-11', '21:00', 'Champions Lg', ..., '4-2-3-1', '4-2-3-1',
        'Manchester City'],
       ...,
       ['2025-02-26', '19:30', 'Premier League', ..., '4-2-3-1', '4-3-3',
        "Nott'ham Forest"],
       ['2025-04-13', '16:30', 'Premier League', ..., '4-3-3', '3-4-3',
        'Newcastle Utd'],
       ['2025-05-25', '16:00', 'Premier League', ..., '3-4-3', '4-2-3-1',
        'Wolves']], shape=(561, 18), dtype=object)

    Column('idmatch_', Integer, primary_key=True),
    Column('date_match', Date, nullable=False),
    Column('heure', Time, nullable=False),
    Column('round', String(50)),
    Column('venue', String(100)),
    Column('idteamhome', Integer, ForeignKey('equipe.idequipe')),
    Column('idteamaway', Integer, ForeignKey('equipe.idequipe')),
    Column('id_competition', Integer, ForeignKey('competition.idcompetition')),
    Column('id_saison', Integer, ForeignKey('saison.id_saison'))

resultatmatch_table = Table(
    'resultatmatch', metadata,
    Column('idresultat', Integer, primary_key=True),
    Column('idmatch', Integer, ForeignKey('match.idmatch_')),
    Column('idequipe', Integer, ForeignKey('equipe.idequipe')),
    Column('butsmarques', Integer, nullable=False, default=0),
    Column('butsconcedes', Integer, nullable=False, default=0),
    Column('resultat', result_enum, nullable=False)
)

In [53]:
df = pd.read_csv('data.csv')
for mtch in df.values:
    select_id_opp_query = equipe_table.select().where(equipe_table.c.nomequipe.like(mtch[9]))
    select_id_team_query = equipe_table.select().where(equipe_table.c.nomequipe.like(mtch[-1]))
    select_id_comp_query = competition_table.select().where(competition_table.c.nomcompetition.like(mtch[2]))
    with engine.begin() as connection:
        result = connection.execute(select_id_opp_query)
        opp = result.fetchone()
        result2 = connection.execute(select_id_team_query)
        team = result2.fetchone()
        result3 = connection.execute(select_id_comp_query)
        comp = result3.fetchone()
        if opp :

            id_opp = opp[0]
            id_team = team[0]
            id_comp = comp[0]
            row = {
                'date_match':mtch[0],
                'heure':mtch[1],   
                'round':mtch[3],   
                'venue':mtch[5],   
                'idteamhome':id_team,   
                'idteamhome':id_opp,  
                'id_competition':id_comp,  
                'id_saison':1,  

            }
            insert_query = match_table.insert().values(row).returning(match_table.c.idmatch_)
            insered_match  = connection.execute(insert_query)
            match_id = insered_match.scalar()
            rows_to_insert =  []
            if mtch[6] != 'D':
                rows_to_insert = [{
                  'idmatch':match_id,
                  'idequipe':id_team,
                  'butsmarques':mtch[7],
                  'butsconcedes':mtch[8],
                  'resultat':'Nul'
                    
            },{
                    'idmatch':match_id,
                  'idequipe':id_opp,
                  'butsmarques':mtch[8],
                  'butsconcedes':mtch[7],
                  'resultat':'Nul'
            }]
            elif mtch[6] != 'W':
                 rows_to_insert = [{
                  'idmatch':match_id,
                  'idequipe':id_team,
                  'butsmarques':mtch[7],
                  'butsconcedes':mtch[8],
                  'resultat':'Victoire'
                    
            },{
                    'idmatch':match_id,
                  'idequipe':id_opp,
                  'butsmarques':mtch[8],
                  'butsconcedes':mtch[7],
                  'resultat':'DÃ©faite'
            }]
            elif mtch[6] != 'L':
                 rows_to_insert = [{
                  'idmatch':match_id,
                  'idequipe':id_team,
                  'butsmarques':mtch[7],
                  'butsconcedes':mtch[8],
                  'resultat':'DÃ©faite'
                    
            },{
                  'idmatch':match_id,
                  'idequipe':id_opp,
                  'butsmarques':mtch[8],
                  'butsconcedes':mtch[7],
                  'resultat':'Victoire'
            }]
            insert_result_query = resultatmatch_table.insert().values(rows_to_insert)

            connection.execute(insert_result_query)

joueur_table = Table(
    'joueur', metadata,
    Column('idjoueur', Integer, primary_key=True),
    Column('nomjoueur', String(100), nullable=False),
    Column('position', String(50)),
    Column('nationalite', String(50)),
    Column('id_equipe', Integer, ForeignKey('equipe.idequipe'))
)

statistiquejoueur_table = Table(
    'statistiquejoueur', metadata,
    Column('idstats', Integer, primary_key=True),
    Column('idjoueur', Integer, ForeignKey('joueur.idjoueur')),
    Column('buts', Integer, default=0),
    Column('passesdecisives', Integer, default=0),
    Column('nbmatchesplayed', Integer, default=0),
    Column('cartonsjaunes', Integer, default=0),
    Column('cartonsrouges', Integer, default=0)
)

In [54]:
import pandas as pd
player_data = pd.read_csv('all_players.csv')

for player in player_data.values :
   
    select_id_equip = equipe_table.select().where(equipe_table.c.nomequipe.like(player[-1]))
    with engine.begin() as connection:
        result = connection.execute(select_id_equip)
        opp = result.fetchone()
        if opp :

            id_pla = opp[0]
            rows_to_insert = {
            'nomjoueur':player[0],
            'position':player[2],
            'nationalite':player[1],
            'id_equipe':id_pla

        }
            insert_player = joueur_table.insert().values(rows_to_insert).returning(joueur_table.c.idjoueur)
            inserted_player = connection.execute(insert_player)
            id_player = inserted_player.scalar()
            rows_to_insert = {
            'idjoueur':id_player,
            'buts':player[8],
            'passesdecisives':player[9],
            'nbmatchesplayed':player[4],
            'cartonsjaunes':player[14],
            'cartonsrouges':player[15]

        }
            insert_player_stats = statistiquejoueur_table.insert().values(rows_to_insert)
            connection.execute(insert_player_stats)

Top 10 des meilleurs buteurs â Identifier les joueurs ayant marquÃ© le plus de buts.
Joueurs les plus dÃ©cisifs â Calculer le total buts + passes dÃ©cisives pour repÃ©rer les joueurs les plus influents.
Joueurs les plus disciplinÃ©s â Analyser les statistiques de cartons jaunes et rouges.
RÃ©partition des nationalitÃ©s des joueurs par Ã©quipe.
Nombre total de buts par Ã©quipe â Ãvaluer la puissance offensive de chaque Ã©quipe.
Moyenne de buts marquÃ©s et encaissÃ©s par match â Mesurer lâefficacitÃ© et la dÃ©fense moyenne des Ã©quipes.
Classement des Ã©quipes â Ãtablir un classement basÃ© sur les rÃ©sultats (victoire = 3 pts, nul = 1 pt).
Ãquipes avec la meilleure dÃ©fense (par buts concÃ©dÃ©s) :
Meilleurs buteurs par Ã©quipe â Identifier le meilleur buteur dans chaque formation.
Nombre total de matchs jouÃ©s par Ã©quipe â Comptabiliser les participations de chaque Ã©quipe au cours de la saison.

In [ ]:
from sqlalchemy.sql.expression import desc
from sqlalchemy.sql.expression import select
TopScorers  = []
query = select(statistiquejoueur_table.c.buts , joueur_table.c.nomjoueur ).select_from(
    statistiquejoueur_table
    .join(joueur_table , joueur_table.c.idjoueur == statistiquejoueur_table.c.idjoueur)
   ).order_by(desc(statistiquejoueur_table.c.buts)).limit(10)
with engine.begin() as connection:
    result = connection.execute(query)
    TopScorers = result.fetchall()
    for player in TopScorers:
        print(player)

(29, 'Mohamed Salah')
(23, 'Alexander Isak')
(22, 'Erling Haaland')
(20, 'Chris Wood')
(20, 'Bryan Mbeumo')
(19, 'Yoane Wissa')
(16, 'Ollie Watkins')
(15, 'Cole Palmer')
(15, 'Matheus Cunha')
(14, 'Jean-Philippe Mateta')